@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body {
    font-family: "roboto", sans-serif;
}

header {
    width: 100%;
    height: 100vh;
    background: url(../images/hero.png) no-repeat;
    background-position: right;
    background-size: contain;
}

header .navbar {
    background-color: transparent !important;
    color: #000000;
}

header .container .row .col-md-6 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: start;
}

header .container h1 {
    font-family: "Playfair Display", serif;
    font-weight: bold;
    color: #0F7AF9;
}

@media only screen and (max-width : 768px) {
    header {
        background-position: top;
        height: 600px;
    }

    header .container .row .col-md-6 {
        height: 400px;
        align-items: flex-end;
    }
}

/* about me */

.about h2 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
}

.about {
    width: 100%;
    color: #000000;
    background-color: #E5E5E5;
}

.about .row .right-side {
    padding: 3rem;
    display: flex;
    align-items: center;
}

.about .row .left-side {
    padding: 3rem;
}

.about .row .left-side img {
    width: 100%;
}

@media only screen and (max-width : 768px) {
    .about .row .right-side {
        text-align: justify;
    }

    .about .row .right-side {
        width: 100%;
    }
}

hr {
    display: block;
    border-bottom: 2px solid #0F7AF9;
    max-width: 100px;
}

/*skills*/

.skills {
    width: 100%;
    height: 50vh;
    color: #000000;
}

.skills .list-skills {
    display: flex;
    justify-content: center;
}

.skills .list-skills .item-skills img {
    width: 65px;
    height: 65px;
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    .skills {
        min-height: 120vh; 
    }
    .skills .list-skills {
        flex-wrap: wrap; 
    }
}

/* Photoworks */

.photoworks {
    width: 100%;
    color: #000000;
    background-color: #E5E5E5;
}

.photoworks .row img {
    width: 100%;
}

/* contact */

.contact .row .col-12 img,
.contact .row .col-6 img {
    width: 100%;
}

.contact .row .col-12 .social-media,
.contact .row .col-6 .social-media {
    display: flex;
}

.contact .row .col-12 .social-media a,
.contact .row .col-6 .social-media a {
    text-decoration: none;
    padding: o.5rem;
    text-align: center;
}

.contact .row .col-12 .social-media a img,
.contact .row .col-6 .social-media a img {
    width: 50%;
}

.contact .row .col-12 .social-media a img:hover,
.contact .row .col-6 .social-media a img:hover {
    width: 60%;
    transition: all ease-out .5s;
}

@media only screen and (max-width: 768px) {
    .contact h2 {
        margin-top: 0.5rem;
    }
}

footer  {
    background-color: #E5E5E5;
    color: #000000;
    padding: 1rem;
}