@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

:root {
    --base--white: #FFFFFF;
    --base--gray: #E5E5E5;
    --base-blue: #0F7AF9;
    --base-black: #000000;
}

body {
    font-family: "Roboto", san-serif;
}

header {
    width: 100%;
    height: 100vh;
    background: url(../images/hero.png) no-repeat;
    background-size: contain;
    background-position: right;
}

header .navbar {
    background-color: transparent !important;
    color: var(--base-black);
}

header .container .row .col-md-6 {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

header .container h1 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
    color: var(--base-blue);
}

@media only screen and (max-width: 768px) {
    header {
        background-position: top;
        height: 650px;
    }
    header .container .row  .col-md-6 {
        height: 550px;
        align-items: flex-end;;
    }
}

/* Global style */
.about h2,
.skill h2,
.photoworks h2,
.contact h2 {
    font-family: "Playfair Display", serif;
    font-weight: 900;
}

/* Section About */
.about {
    width: 100%;   /* tidak melebihi layar  */   
    color:var(--base--black);
    background-color: var(--base--gray);
}

.about .row .left-side {
    padding: 3rem;
    display: flex;
    align-items: center;
}

.about .row .right-side {
    padding: 3rem;
}

.about .row .right-side img {
    width: 268px;
}

@media only screen and (max-width: 768px) {
    .about .row .left-side {
        text-align: justify;
    }
    
    .about .row .right-side {
        width: 100%;
    }
}

hr {
    display: block;
    border-bottom: 2px solid var(--base-blue);
    max-width: 100px; 
}

/* Section Skils */

.skils {
    width: 100%;
    height: 50vh;
    color: var(--base-black);
}

.skils .list-skils {
    display: flex;
    justify-content: center;
}

.skils .list-skils .item-skils img {
    width: 72px;
    height: 72px;
    padding: 1rem;
}

@media only screen and (max-width: 768px) {
    .skils {
        min-height: 120vh; 
    }
    .skils .list-skils {
        flex-wrap: wrap; 
    }
}

/* Section Photowork */

.photoworks {
    width: 100%;
    color: var(--base-black);
    background-color: var(--base--gray);
}

.photoworks .row img {
    width: 100%;
}

/* Section Contact */

.contact .row .col-12 img,
.contact .row .col-6 img {
    width: 100%;
}

.contact .row .col-12 .social-media,
.contact .row .col-6 .social-media {
    display: flex;
}

.contact .row .col-12 .social-media a,
.contact .row .col-6 .social-media a {
    text-decoration: none;
    padding: 0.5rem;
    text-align: center;

}

.contact .row .col-12 .social-media a img,
.contact .row .col-6 .social-media a img {
    width: 50%;
}

.contact .row .col-12 .social-media a img:hover,
.contact .row .col-6 .social-media a img:hover {
    width: 60%;
    transition: all cubic-bezier(0.88, 0.02, 0, 0.998) .5s;
}

@media only screen and (max-width: 768px) {
    .contact h2 {
        margin-top: 0.5rem;
    }
}

footer {
    color: var(--base-black);
    background-color: var(--base--gray);
    text-align: center;
    padding: 1rem;
}





